<header>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">{{app_name}}</a>

    <ul class="navbar-nav">
      <li *ngIf="!isLogged" class="nav-item active">
        <a routerLink="empresas/empresa" routerLinkActive="router-link-active" data-toggle="modal" data-target="#Modal">Registrar Empresa <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </nav>
</header>

<!--

  data-toggle="modal" data-target="#Modal"
<header>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo hide-on-small-only" routerLink="/">{{app_name}}</a>

      <ul id="nav-mobile" class="right">
        <li *ngIf="!isLogged"><a routerLink="login" routerLinkActive="router-link-active">Login</a></li>
      </ul>
    </div>
  </nav>
</header>
-->

<!--
<header>
  <a routerLink="/" class="logo">
    <span class="icon-home"></span>
    <span>{{ app_name }}</span>
  </a>

  <a routerLink="login" routerLinkActive="router-link-active" class="button">
    <span> Login </span>
  </a>

  <a routerLink="empresas" routerLinkActive="router-link" class="button">
    <span> Empresas </span>
  </a>
</header>
-->
