<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100" id="staticBackdropLabel">Registrar Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm">
            <img src="../../../../assets/administrador.jpg" class="card-img" alt="Empresa" style="height: 6rem;">
          </div>
          <div class="col-sm">
            <p>Regitra a tu empresa o institución y PRUEBA la aplicación sin costo por 3 meses.</p>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/empresas/empresa">Registrate</button>
      </div>
    </div>
  </div>
</div>

      <!--
      <form class="col s12" style="margin-left: 1rem;" name="form" (ngSubmit)="f.form.valid && onLogin()" #f="ngForm" id="form_login">

        <h6 class="center green-text">ADMINISTRADOR</h6>
        <br>

        <div class="input-field">
          <label for="correo">Correo Electrónico</label>
          <input id="correo" name="correo" type="email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="correo" #correoerr="ngModel">

          <div class="red-text" *ngIf="correoerr.errors && (correoerr.invalid || correoerr.touched)">
            <small *ngIf="correoerr.errors.required">correo requerido</small>
            <small *ngIf="correoerr.errors.pattern">Intoduzca un correo válido</small>
          </div>
        </div>

        <div class="input-field">
          <label for="password">Contraseña</label>
          <input id="password" type="password" name="password" minlength=8 maxlength="12" required [(ngModel)]="password" #passworderr="ngModel">

          <div class="red-text" *ngIf="passworderr.errors && (passworderr.invalid || passworderr.touched)">
            <small *ngIf="passworderr.errors.required">Contraseña requerido</small>
            <small *ngIf="passworderr.errors.minlength">Por lo menos {{ passworderr.errors.minlength.requiredLength }} caracteres</small>
          </div>
        </div>

        <button type="submit" class="btn" id="accessar" [disabled]="f.invalid" style="width: 100%">Accesar</button>
        </form>
      -->

